.answer {
    background-color: rgba(255, 255, 255, 0.336);
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: left;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    border-radius: 10px;
    /* padding: 1px; */
  }
  .accordian {
    cursor: pointer;
  }
  .answer.active {
    max-height: fit-content;
  }
  .icon-right {
    margin-right: 15px;
    transition: transform 0.2s;
  }
  .icon-right.active {
    transform: rotate(-180deg);
  }