* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen", sans-serif;
  }
  html,
  body {
    width: 100%;
    height: 100%;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to bottom right,
      #ff9933 0%,
      #ff9933 33%,
      #ffffff 33%,
      #ffffff 66%,
      #138808 66%,
      #138808 100%
    );
    backdrop-filter: blur(3px);
  }

  .log-container {
    width: 294px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white; /* Adjust opacity as needed */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.628); /* Shadow */
  }
  .img {
    width: 150px;
    height: 150px;
  }
  .logo-div {
    align-self: center;
    margin-top: -50px;
  }
  .welcome-head{
    text-align: center;
    font-size: 24px;
    padding: 4px;

  }
  .welcome-para{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }